<h1><%= @article.tittle %></h1>
<div>
	<p>
		<%= @article.body %>
	</p>
</div>
<div>
	<h2>Comentarios</h2>
	<%= render @article.comments %>

	<h2>Add a comment:</h2>
	<%= render 'comments/form' %>
</div>
<%= link_to 'Editar', edit_article_path(@article), class: "link" %> |
<%= link_to 'Volver', articles_path, class:"link" %>