<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<nav class = "be-red white large-padding" >
  			<ul class = "no-list row center-xs middle-xs">
  				<li class= "col-md" type = "none">
  					<h1 class = "no-margin" id = "logo">Blog Tutorial</h1>
  				</li>
  				<li class= "col-md" type = "none">
  					<%= link_to "Inicio", root_path %>
  				</li>
  				<li class= "col-md" type = "none">
  					Diseño
  				</li>
  				<li class= "col-md" type = "none">
  					Programacion
  				</li>
  				<li class= "col-md" type = "none">
  					Tecnologia
  				</li>
  			</ul>	
  				
  		</nav>
  	</header>	

    <%= yield %>
  </body>
</html>
